body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header{
  background: gray;
  padding: 10px;
}

h1{
  color: white;
}

footer{
  background: gray;
  padding: 10px;
  color: white;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.tagging{

  flex: 1;
  border: 1px solid black;
}
.discovery{

    flex: 1;
    border: 1px solid black;
}
